.navbar-nav {
  font-family: "Adamina", serif;
  font-weight: bolder;
  text-shadow: chartreuse;
  color: indigo;
}
.navbar-nav:hover {
  font-weight: bold;
}

#dropdown-basic-button {
  background-color: white;
  border-radius: 5px;
  border-color: darkgrey;
  color: black;
}
